{% extends 'flatpages/default.html' %}

{% block title %}
Service
{% endblock title %}

{% block content %}
    <h1> Поиск услуг : {{ search|length }} </h1>
    <hr>
    <form action="" method="get">
        {{ filterset.form.as_p }}
        <input type="submit" value="Найти" />
    </form>
    {% for service in search%}
    <div>
        {{service.master.user__username}}
        <br>
        <a href="{% url 'service' service.id %}">{{ service.title }}</a>
        <br>
        {{service.content|truncatechars:50}}
        <br>
        {{ service.price }}
        <br>
        {{ service.times }}
        <br>
    </div>
    {%endfor%}

{% endblock content %}