{% extends 'flatpages/default.html' %}


{% block title %}
Service
{% endblock title %}

{% block content %}

    <h1>{{ service.title }}</h1>
   <hr>
 {% if services %}
       <table>
           <tr>
               <td>Мастер</td>
               <td>Цена</td>
               <td>Время выполнения</td>
               <td>Описание</td>
           </tr>

           <tr>
               <td>{{ service.master }}</td>
               <td>{{ service.price }}</td>
               <td>{{ service.times }}</td>
               <td>{{ post.content }}</td>
           </tr>
       </table>
{% else %}
       <h2>Подробной информации об услуги нет!</h2>
{% endif %}
<hr>
{% if user.is_authenticated %}
    <a href="{% url 'sign_up' %}"><button> Записаться на эту услугу </button></a>
    <a href="{% url 's_search' %}"><button> Найти нужную услугу </button></a>
    {% endif %}
{% if user.is_master %}
    <a href="{% url 's_update' %}"><button> Изменить услугу </button></a>
    <a href="{% url 's_delete' %}"><button> Удалить услугу </button></a>
    {% endif %}
{% endblock content %}