{% extends 'flatpages/default.html' %}


{% block title %}
Masters
{% endblock title %}

{% block content %}
   <h1>Все Мастера салона</h1>
   <h2> Количество объявлений:</h2>
   <h3>{{ board|length }}</h3>
   <hr>
    <a href="{% url 's_search' %}"><button> Найти нужную услугу </button></a>
   {% if masters %}
       <table>
           <tr>
                <td>Имя</td>
               <td>Кем работает</td>
               <td>Описание</td>
               <td>Фото</td>
           </tr>

           {% for master in masters %}
           <tr>
               <td>
                   <a href="{% url 'master' post.id %}">{{ master.name }}</a>
               </td>
               <td>{{ master.position }}</td>
               <td>{{ master.description|truncatewords:50 }}</td>
               <td>{{ master.image }}</td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Пока в салоне нет мастеров!</h2>
   {% endif %}

    {% if page_obj.has_previous %}
        <a href="?page=1">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}
    {{ page_obj.number }}
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}
{% endblock content %}