{% extends 'flatpages/default.html' %}


{% block title %}
Clients
{% endblock title %}

{% block content %}
   <h1>Все клиенты мастера</h1>
   <hr>
   {% if clients %}
       <table>
           <tr>
                <td>Имя</td>
               <td>Контакты</td>
               <td>Дата последней записи</td>
           </tr>

           {% for client in master %}
           <tr>
               <td>
                   <a href="{% url 'client' client.id %}">{{ clients.name }}</a>
               </td>
               <td>{{ clients.contact }}</td>
               <td>{{ clients.client_time|date:'M d Y' }}</td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Пока клиентов у местера нет!</h2>
   {% endif %}

    {% if page_obj.has_previous %}
        <a href="?page=1">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}
    {{ page_obj.number }}
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}
{% endblock content %}